<!--
<div><b>Détails de {{ heroModel().name | uppercase }}</b></div>
<div>id: {{ heroModel().id }}</div>
<div>name: {{ heroModel().name }}</div>
<div>actif: {{ heroModel().actif ? "&check;" : "&#10007;" }}</div>
<div>Input avec signal + événement
  <input [value]="heroModel().name" (input)="changerHeroName($any($event.target).value)">
  <button (click)="changerHeroActif()">Changer le actif</button>
</div>
<div>Input avec form
  <input type="text" [formField]="heroForm.name" />
  <input type="checkbox" [formField]="heroForm.actif" />
</div>
-->

<h2>Étape 2 : liste de héros</h2>

<ul class="heroes">
  @for (hero of heroesModel(); track hero.id) {
    <li>
      <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHeroModel()">
        <span>{{hero.id}}</span>&nbsp;
        <span>{{hero.name}}</span>&nbsp;
        <span>{{ hero.actif ? "&check;" : "&#10007;" }}</span></button>
    </li>
  }
</ul>

@if (selectedHeroModel(); as hero) {
  <app-hero-detail-component [hero]="hero"></app-hero-detail-component>
  <app-hero-edit-component [hero]="hero" (heroChange)="onHeroChange($event)"/>
} @else {
  <p>Aucun héros sélectionné</p>
}
